.contentMessage{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;

  .ImageIsEmpty{
    max-width: 100%;
    width:300px;
    height: auto;
  }

  h4{
    margin-top: 1em;
  }
}