.backMainPage{
  cursor: pointer;
  color: #212121;
  left: 1em;
  top: 2em;
  border: 1px solid #212121;
  padding: 1em;
  transition: 0.5s;
  list-style: none;
  margin-left: 5em;
  margin-top: 2em;
  text-align: center;

  &:hover{
    background: #212121;
    transition: 0.5s;
    color: #FFFF
  }
}

a{
  text-decoration: none;
}

.sizeButtonBackMain{
  width: 230px;
}
h1{
  text-align:center;
  margin-bottom: 1em;
}
ul{
  text-align: center
}